<div class="container-fluid">
  <div class="row">
    <h3 class="col-12"> CARD </h3>
	    <mat-card class="col-8 mx-auto">
	      <mat-card-title> Mon titre </mat-card-title>
	      <mat-card-subtitle> My subtitle</mat-card-subtitle>
	      <img mat-card-image src="https://images.unsplash.com/photo-1522205393480-69ac15dafb07?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1cdd41f80a21709d55bc35ec17415275&auto=format&fit=crop&w=750&q=80"/>
	      <mat-card-content>Verum ad istam omnem orationem brevis est defensio. Nam quoad aetas M. Caeli dare potuit isti suspicioni locum, fuit primum ipsius pudore, deinde etiam patris diligentia disciplinaque munita. Qui ut huic virilem togam deditšnihil dicam hoc loco de me; tantum sit, quantum vos existimatis; hoc dicam, hunc a patre continuo ad me esse deductum; nemo hunc M. Caelium in illo aetatis flore vidit nisi aut cum patre aut mecum aut in M. Crassi castissima domo, cum artibus honestissimis erudiretur.
	      </mat-card-content>
	      <mat-card-actions>
	      	<button mat-raised-button color="warn">action 1</button>
	      	<button mat-raised-button color="primary">action 2</button>
	      	<button mat-raised-button color="accent">action 3</button>
	      </mat-card-actions>
	    <mat-card-footer>Felix Russell-Saw
		</mat-card-footer>
	    </mat-card>
	</div>
	<div class="row">
	    <h3 class="col-12"> STEPPER </h3>
	    <mat-horizontal-stepper class="col-8 mx-auto" >
	    	<mat-step label="etap 1">
	    		Content 1
	    	</mat-step>
	    	<mat-step label="etap 2">
	    		Content 2
	    	</mat-step>
	    </mat-horizontal-stepper>
 	</div>
 		<div class="row">
	    <h3 class="col-12"> TAB </h3>
	    <mat-tab-group class="col-8 mx-auto">
	    	<mat-tab label="tab 1">Hello 1</mat-tab>
	    	<mat-tab label="tab 2">Hello 2</mat-tab>
	    </mat-tab-group>
 	</div>
 	<br>
 	<br>
 	<div class="row">
 		<h3 class="col-12"> Expansion panel </h3>
 		<div class = "col-6 mx-auto">
 			<mat-expansion-panel>
 				<mat-expansion-panel-header>
 					<mat-panel-title>Title</mat-panel-title>
 					<mat-panel-description>description</mat-panel-description>
 				</mat-expansion-panel-header>
 				content
 			</mat-expansion-panel>
 		</div>
 	</div>
 	<br>
 	<br>
 	<div class="row">
 		<h3 class="col-12"> Button toggle </h3>
 		<div class="col-6 mx-auto">
 			<mat-button-toggle> Bouton toggle </mat-button-toggle>
 		</div>
 	</div>
 	<br>
 	<br>
 	<div class="row">
 		<h3 class="col-12"> Chips </h3>
 		<div class="col-6 mx-auto">
 			<mat-chip-list>
 				<mat-chip (remove)="delete(item)" *ngFor="let item of list"> {{ item }} 
 					<mat-icon matChipRemove >cancel</mat-icon>
 				</mat-chip>
 			</mat-chip-list>
 		</div>
 	</div>
 	<br>
 	<br>
 	<div class="row">
 		<h3 class="col-12"> Icone </h3>
 		<div class="col-6 mx-auto">
 			<mat-icon fontSet="fa" style="font-size:40px;" class="fa-user-circle-o"></mat-icon><br><br>
 			<mat-icon fontSet="fa" class="fa-balance-scale"></mat-icon><br><br>
 			<button mat-raised-button color="primary">
 				<mat-icon fontSet="fa" class="fa-check"></mat-icon>
 				confirmer
 			</button>
 			<button mat-raised-button>
 				<mat-icon fontSet="fa" class="fa-times"></mat-icon>
 				cancel
 			</button>
 		</div>
 	</div>
 	<br>
 	<br>
 	<div class="row">
 		<h3 class="col-12"> Barre de progression </h3>
 		<div class="col-6 mx-auto">
 			<mat-progress-spinner mode="Determinate" value="70"></mat-progress-spinner><br><br>
 			<!-- Deux option pour mode "Determinate ou indeterminate" -->
 			<mat-progress-bar value="30" color="warn"></mat-progress-bar>
 		</div>
 	</div>
 	<br>
 	<br>
 	<div class="row">
 		<h3 class="col-12"> Popup </h3>
 		<div class="col-6 mx-auto">
 			<button mat-raised-button (click)="openDialog()" color="primary">Open</button>
 		</div>
 	</div>
 	<br>
 	<br>
 	<div class="row">
 		<h3 class="col-12"> Tooltip </h3>
 		<div class="col-6 mx-auto">
 			<button 
 				matTooltip="Ouvrir une popup" 
 				matTooltipPosition="below"

 				mat-raised-button (click)="openDialog()" 
 				color="primary">Open</button>
 		</div>
 		<!-- autre matTooltipPosition : above : au dessus
 										below : en dessous
 										left : a gauche
 										right : a droite
 										before, after
 										-->
 	</div>
 	<br>
 	<br>
 	<div class="row">
 		<h3 class="col-12"> snack bar </h3>
 		<div class="col-6 mx-auto">
 			<button mat-raised-button color="primary" Save (click)="info('save done !')"> Save </button>
 		</div>
 	</div>
 	<br>
 	<br>
 	<div class="row">
 		<h3 class="col-12"> tableau </h3>
 		<div class="col-10 mx-auto" style="margin-bottom: 100px;">
 			<mat-table #table [dataSource]="dataSource">

 				<ng-container matColumnDef="gender">
 					<mat-header-cell *matHeaderCellDef> gender </mat-header-cell>
 					<mat-cell *matCellDef="let user">{{ user.gender}}</mat-cell>
 				</ng-container>

 				<ng-container matColumnDef="cell">
 					<mat-header-cell *matHeaderCellDef> cell </mat-header-cell>
 					<mat-cell *matCellDef="let user">{{ user.cell }}</mat-cell>
 				</ng-container>

 				<ng-container matColumnDef="email">
 					<mat-header-cell *matHeaderCellDef> email </mat-header-cell>
 					<mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
 				</ng-container>

 				<ng-container matColumnDef="nat">
 					<mat-header-cell *matHeaderCellDef> nat </mat-header-cell>
 					<mat-cell *matCellDef="let user">{{ user.nat }}</mat-cell>
 				</ng-container>

 				<ng-container matColumnDef="phone">
 					<mat-header-cell *matHeaderCellDef> phone </mat-header-cell>
 					<mat-cell *matCellDef="let user">{{ user.phone }}</mat-cell>
 				</ng-container>
 				
 				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
 				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
 				
 			</mat-table>
 			
 		</div>
 	</div>
</div>




